
@model IEnumerable<RedisDistributedCaching.Dto.PersonDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Person List</h1>

<p style="text-align:right;margin-right:20px;">
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    FirstName
                </th>
                <th>
                    LastName
                </th>
                <th>
                    Email
                </th>
                <th>
                    Suffix
                </th>
                <th>
                    AdditionalContactInfo
                </th>
                <th></th>
                <th>Edit</th>
                @*<th>Details Action</th>
                <th>Delete Action</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Suffix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdditionalContactInfo)
                    </td>
                    <td>
                    <td class="text-center">
                        <a asp-action="Edit" class="btn btn-outline-primary" asp-route-ID="@item.ID">Edit</a>
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" class="btn btn-outline-info" asp-route-ID="@item.ID">Details</a>
                    </td>
                   
                </tr>
            }
        </tbody>
    </table>
</div>